# Dataset - Mobike

In [1]:
import pandas as pd
import datetime
import time

In [2]:
import pickle

In [4]:
df_mobike = pd.read_pickle('../dataset/utseus-mobike-2016.pk')

In [5]:
df_mobike.head()

,orderid,bikeid,userid,start_time,start_location_x,start_location_y,end_time,end_location_x,end_location_y,track
0,1,324731,7541,2016-08-28 00:00,121.49,31.28,2016-08-28 00:08,121.486,31.273,"121.485,31.275#121.485,31.276#121.486,31.273#1..."
1,6,288841,4427,2016-08-28 00:00,121.462,31.313,2016-08-28 00:17,121.455,31.315,"121.455,31.313#121.455,31.314#121.455,31.315#1..."
2,8,315873,6474,2016-08-28 00:00,121.416,31.154,2016-08-28 00:14,121.419,31.156,"121.416,31.154#121.416,31.155#121.417,31.155#1..."
3,10,93155,12616,2016-08-28 00:00,121.436,31.32,2016-08-28 00:12,121.444,31.31,"121.436,31.318#121.436,31.319#121.436,31.320#1..."
4,11,352484,11596,2016-08-28 00:00,121.459,31.325,2016-08-28 00:08,121.46,31.315,"121.459,31.315#121.459,31.316#121.459,31.317#1..."

In [135]:
df_mobike.dtypes

orderid              object
bikeid               object
userid               object
start_time           object
start_location_x    float64
start_location_y    float64
end_time             object
end_location_x      float64
end_location_y      float64
track                object
geometry_start       object
geometry_end         object
dtype: object

In [134]:
df_mobike['start_location_x'] = pd.to_numeric(df_mobike['start_location_x'])
df_mobike['end_location_x'] = pd.to_numeric(df_mobike['end_location_x'])
df_mobike['start_location_y'] = pd.to_numeric(df_mobike['start_location_y'])
df_mobike['end_location_y'] = pd.to_numeric(df_mobike['end_location_y'])

In [139]:
from shapely.geometry import Point, Polygon

In [136]:
geometry_start = [Point(xy) for xy in zip(df_mobike['start_location_x'], df_mobike['start_location_y'])]
geometry_end = [Point(xy) for xy in zip(df_mobike['end_location_x'], df_mobike['end_location_y'])]

In [137]:
df_mobike['geometry_start'] = geometry_start
df_mobike['geometry_end'] = geometry_end

# Compute the number of mobike in each district

In [140]:
df_district = pd.read_pickle('../dataset/utseus-cendus-shanghai-neighborhoods.pk')
df_district.head()

   NAME  TYPE                                           geometry
0    ??     2  POLYGON Z ((121.42168 30.68471 0.00000, 121.42...
1   ???     2  POLYGON Z ((121.41199 30.69374 0.00000, 121.41...
2   ???     2  POLYGON Z ((121.40163 30.70717 0.00000, 121.40...
3  ????     2  POLYGON Z ((121.33687 30.73806 0.00000, 121.33...
4  ????     2  POLYGON Z ((121.25143 30.79177 0.00000, 121.25...

In [142]:
df_mobike_per_discrit = df_district[['geometry']].copy()

In [165]:
df_mobike_per_discrit['nb_mobike'] = 0

In [159]:
sample = df_mobike.sample(n=1000, random_state=1)

In [167]:
for index, row in df_mobike.iterrows():
    find_start = False
    find_end = False
    geom_start = row.geometry_start
    geom_end = row.geometry_end
    for index2, polygon in df_district['geometry'].items(): 
        if ((find_start==False) & (geom_start.within(polygon)==True)):
            poly_start = polygon
            index_start = index2
            find_start = True
        if ((find_end==False) & (geom_end.within(polygon)==True)):
            poly_end = polygon
            index_end = index2
            find_end = True
        if (find_start & find_end):
            if (poly_start != poly_end):
                df_mobike_per_discrit.loc[index_start, 'nb_mobike'] += 1
                df_mobike_per_discrit.loc[index_end, 'nb_mobike'] += 1
            else:
                df_mobike_per_discrit.loc[index_start, 'nb_mobike'] += 1
            break

In [1]:
df_district.head(6)

NameError: name 'df_district' is not defined

In [182]:
df_district['surface'] = df_district['geometry'].area

In [173]:
df_mobike_per_discrit['nb_mobike_proportion'] = df_mobike_per_discrit['nb_mobike']/df_mobike_per_discrit['geometry'].area

In [176]:
df_mobike_per_discrit.to_pickle("./df_mobike_per_discrit.pickle")