In [2]:
import pandas as pd
from shapely.geometry import Point, Polygon
import geopandas as gpd

In [3]:
df_POI = pd.read_pickle("./dataset/utseus-cendus-poi.pk")
df_POI.head()

,NAME,GPSX,GPSY,GBCODE,category,subcategory,subsubcategory
0,2015年中国国际纱线(春夏)展览会,121.296368,31.188324,990000.0,Other points of interest,Natural Place Name Identification Points,Entrance name
1,勃兰登堡之声-2015家庭音乐会,121.473360,31.228923,990000.0,Other points of interest,Natural Place Name Identification Points,Entrance name
2,2015第十四届(上海)国际有机食品和绿色食品博览会,121.399378,31.205028,990000.0,Other points of interest,Natural Place Name Identification Points,Entrance name
3,星星火炬上海组委会,121.529628,31.271063,990000.0,Other points of interest,Natural Place Name Identification Points,Entrance name
4,2016VGT国际铁人三项赛,121.169185,31.282332,990000.0,Other points of interest,Natural Place Name Identification Points,Entrance name

In [18]:
df_POI['category'].unique()

array(['Other points of interest', 'Transportation', 'Organ group',
       'Shopping', 'Restaurant', nan, 'Company business', 'Scenic spot',
       'Life service', 'Get accommodation', 'Sports and leisure',
       'Real Estate Park and Warehousing',
       'Science and education culture',
       'Location Location Identification Points', 'Financial insurance',
       'Health social security'], dtype=object)

In [25]:
df_POI[df_POI['category']=="Location Location Identification Points"].subcategory.unique()

array(['Warehouse', 'factory and mining enterprises',
       'Administrative Place Name Identification Points',
       'Agriculture, forestry, animal husbandry and fishery',
       'Location Location Identification Points',
       'Other companies and enterprises', 'company',
       'Other Real Estate Parks and Warehousing', 'Industrial Park'],
      dtype=object)

In [32]:
df = pd.read_pickle("./variables/poi_per_district.pkl")
df.head()

,geometry,nb_transportation,nb_shopping,nb_restaurant,nb_scenicSpot,nb_stadiumAndGym
0,"POLYGON Z ((121.42168 30.68471 0.00000, 121.42...",0,0,0,0,0
1,"POLYGON Z ((121.41199 30.69374 0.00000, 121.41...",0,0,0,0,0
2,"POLYGON Z ((121.40163 30.70717 0.00000, 121.40...",0,0,0,0,0
3,"POLYGON Z ((121.33687 30.73806 0.00000, 121.33...",1087,1789,748,28,32
4,"POLYGON Z ((121.25143 30.79177 0.00000, 121.25...",1428,1762,616,9,12